.delivery-header {
    margin-bottom: 20px;
}

.delivery-footer {
    height: 45px;
    margin-top: 20px;
}

.delivey-form-container {
    .error-msg {
        height: 38px;
        margin-bottom: 1rem;
        &.textarea {
            height: 85px;
        }
    }
    .form-title {
        border-bottom: 1px solid grey;
        padding-bottom: 10px;
    }
    .form-body {
        margin-top: 40px;
        margin-bottom: 40px;
        &.checkbox-idem {
            margin-top: 10px;
        }
        .time-divider {
            margin-top: 15px;
        }
    }
    .cancel-btn {
        margin-right: 10px;
    }
}

.delivey-list-container {
    .header {
        border-bottom: 1px solid gray;
        padding-bottom: 5px;
    }
    .create-container {
        text-align: right;
        padding-right: 0;
    }
    .filter {
        padding: 20px;
        background: #eaeaea;
        margin-top: 25px;
        border: 1px solid #eaeaea;

        .title-filter {
            font-size: 25px;
        }
    }
    .table-delivery {
        margin-top: 30px;
    }
    .table td:last-child {
        width: 200px;
        & .btn-danger {
            margin-right: 15px;
        }
    }
    .table th.sortable-column {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        & img {
            align-self: center;
        }
    }
}